* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.5rem;
  background-color: rgb(203, 225, 225);
}
header {
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0px 5px 15px rgb(81, 81, 81);
  height: auto;
  min-width: fit-content;
}
#title {
  margin: 0.5em;
  letter-spacing: 0.1em;
  text-shadow: 0px 0px 3px black;
  white-space: nowrap;
}
#toggle-btn {
  display: none;
}
#title-r {
  color: #49a6e9;
}
#nav-links {
  margin: 0.5em;
}
#social-icons {
  margin: 0.5em;
}
.main-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.main-links li {
  padding: 0.5em;
}
.main-links li a {
  color: black;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-size: 0.9em;
  transition: all 1s linear;
}
.main-links li a:hover {
  color: #49a6e9;
  transition: 300ms;
}
#social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
#social-links li {
  padding: 0.5em;
  transition: all 1s linear;
}
#social-links img {
  width: 1vw;
  height: 1.2rem;
}

@media screen and (max-width: 920px) {
  header {
    display: block;
    padding-top: 0.1em;
  }
  #toggle-sec {
    display: flex;
    justify-content: space-between;
  }
  .toggle-btn {
    margin: 0.5em;
    padding: 0.5rem;
    display: block;
    cursor: pointer;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #49a6e9;
    margin: 5px 0;
    transition: all 0.3s linear;
  }
  .change .bar1 {
    transform: translate(11px, 11px) rotate(90deg);
  }

  .change .bar2 {
    transform: translate(0px, 0px) rotate(90deg);
  }

  .change .bar3 {
    transform: translate(-11px, -10px) rotate(90deg);
  }
  #title {
    margin-left: 0.3em;
  }
  #nav-links {
    padding: 0;
    margin: 0;
  }
  .main-links {
    display: none;
  }
  /* /TODO: ADD SMOOTH TRANSITION TO THE DROPDOWN MENU */
  .show-links {
    display: block;
  }
  .show-links li {
    padding: 0;
    /* transition: all 1s ease; */
    margin: 0;
  }
  .show-links li a {
    display: block;
    padding: 0.5em;
    transition: all 1s ease;
  }
  .main-links li a:hover {
    color: white;
    background-color: #49a6e9;
    transition: 300ms;
  }
  #social-icons {
    display: none;
  }
}
